﻿@model IEnumerable<TaskManager.Models.TaskModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="col-md-6" id="tlen">
    <h2>Доступные задачи</h2>
    <table class="table table-condensed">
        <tr><td>Имя задачи</td><td>Входное значение</td><td>Результат</td><td></td></tr>
        @foreach (var m in Model)
    {
        <tr>
            @Html.Partial("SampleView", m)
        </tr>
}
    </table>
</div>


<div class="container">
    <div class="col-md-6 col-md-offset-3">
        @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="btnAddField" type="submit" class="btn btn-default" value="Добавить" />
            </div>
        </div>
            
        <div style="color:blue"><b>Data:</b> @ViewBag.Data</div>
        <!-- JS includes -->*@
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        
        

        <script type="text/javascript">

        $(document).ready(function () {
                var $fields = $('#fields');
                var $tlen = document.getElementById('chlen').innerHTML;
                $($tlen).appendTo($fields);

            });

        </script>
    </div>
</div>
@*$('#btnAddField').click(function (e) {
        e.preventDefault();
        $($chlen).appendTo($fields);
    });*@