﻿@model TaskManager.Models.TaskModel

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <td><input style="border: none;" value="@Model.Name" type="text" readonly="readonly" name="name"></td>
    <td><input value="@Model.In" class="form-control" type="text" name="dynamicField" /></td>
    <td>@Model.Out</td>
  @*  <td>@Html.TextBoxFor(m=>m.Name, new {@style ="border: none;"})</td>
    <td>@Html.TextBoxFor(m=>m.In, new { @class = "form-control" })</td>
    <td>@Model.Out</td>*@
    <td>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Запуск" />
            </div>
        </div>
    </td>
}